# =============================================================================
#
# @package    stn_sxo_uitzetten
# @container  stn_sxo_uitzetten
# @name       .gitignore
# @purpose    files and folders to ignore by git
# @version    v0.0.1  2022-04-29
# @author     pierre@amultis.dev
# @copyright  (C) 2020-2024 Pierre Veelen
#
# =============================================================================

# GENERIC
# =============
/history
/examples
TODO*
UUID*

# IDE 
# =============
__pycache__
.vscode
.idea

# BUILD
# =============
/dist
/build

# APPLICATION
# =============
/output*
/input
/log
*_connections.json
*_parameters.json
