# =============================================================================
#
# @package    stn_sxo_uitzetten
# @container  run_queries_oracle
# @name       qry_requirements.txt
# @purpose    pip requirements file
# @version    v0.0.2  2024-05-19
# @author     pierre@amultis.dev
# @copyright  (C) 2020-2024 Pierre Veelen
#
# =============================================================================

# DATABASE HANDLING
# =================
oracledb==2.1.1

# DATA HANDLING
# =================
openpyxl==3.1.2
pandas==2.2.2
